apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: elasticsearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      volumes:
        - name: data
          hostPath:
            path: /workspace
      containers:
      - name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.2
        ports:
        - name: elasticsearch
          containerPort: 9200
          protocol: TCP
        volumeMounts:
          - name: data
            mountPath: /usr/share/elasticsearch/data
        env:
          - name: discovery.type
            value: single-node
