@form-choice-list-space-around: 5px;
@form-choice-list-item-space-around: 3px;
@form-choice-list-item-gap-inside: 5px;

.form-choice-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: @form-choice-list-space-around;
    padding-bottom: @form-choice-list-space-around;
    position: relative;

    &__item {
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: @form-choice-list-item-space-around 0;

        &__action {
            display: inline-block;
            margin-left: @form-choice-list-item-gap-inside;

            &--link {
                position: relative;
                top: -1px;
                margin-left: 2*@form-choice-list-item-gap-inside;
            }
        }
    }

    &__icon {
        margin-right: @form-choice-list-item-gap-inside;
    }

    .input-choice {
        margin-right: @form-choice-list-item-gap-inside;
    }
}
