{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}{{ 'Recently bought products'|trans }}{% endblock %}

{% block main_content %}
    <h1>{{ 'Your recently bought products'|trans }}</h1>

	{% if productDetails is not empty %}
		{{ productList.list(productDetails) }}
	{% else %}
      <p>{{ 'You have not bought any products in recent history.'|trans }}</p>
	{% endif %}
{% endblock %}