{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Recently bought products'|trans }}{% endblock %}

{% block main_content %}
    <h1>{{ 'Your recently bought products'|trans }}</h1>

	{% if products is not empty %}
		<ul>
			{% for product in products %}
				<li>{{ product.name }}</li>
			{% endfor %}
		</ul>
	{% else %}
      <p>{{ 'You have not bought any products in recent history.'|trans }}</p>
	{% endif %}
{% endblock %}