{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Recently bought products'|trans }}{% endblock %}

{% block main_content %}
    <h1>{{ 'Your recently bought products'|trans }}</h1>

    <p>{{ 'You have not bought any products in recent history.'|trans }}</p>
{% endblock %}